@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  :focus {
    outline: 0;
    box-shadow: 0 0 0 2px F15156;
  }

  body, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  a{
    cursor: pointer;
  }
